[Desktop Entry]
Type=Application
Version=0.0.1
Name=AI Nexus Client
GenericName=AI Client
Comment=Advanced AI Desktop Client
Exec=ainexusclient %U
Icon=ainexusclient
Terminal=false
Categories=Office;Utility;
StartupNotify=true